@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width:320px) and (max-width:426px) {
    .login-page{
        position: relative;
        right: 210px;
        width: 100%;
        border: none;
        bottom: 30px;

    }
    .Register-page{
      position: relative;
      right: 210px;
      width: 100%;
      border: none;
      bottom: 30px;
    }
    .main-c{
      margin-bottom: 30px;
    }
    .image-part{
        display: none;
    }
    .bottom-part{
        margin-top: 20px;
    }
   .searchR{
    position: relative;
    right: 70px;
   }
   .searchbox{
    position: relative;
    right: 240px;
   }
   .removeall{
    padding: 10px;
    align-items: center;
   }
   .tablepart{
      position: relative;
      width: 645px;
      left: 60px;
   }
   .task{
    height: 100%;
    margin-top: 15rem;
   }
   .logoutModal{
    position: absolute;
    left: 256px;
    height: 100vh;
   }
   .toggleModal{
    position: relative;
    right: 65%;
    width: 380px;
   }
}

a.active{
    color: rgb(227, 60, 227);
}
.table-container {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Set maximum height for the container to enable scrolling */
    
  }
  
  /* Webkit browsers (e.g., Chrome, Safari) */
  .table-container::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #e34040; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the scrollbar thumb */
  }
  
  /* Other scrollbar properties */
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the scrollbar track */
  }


  .sticky-header thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure the heading row appears above other content */
    background-color: #3014ce; /* Set the background color for the sticky heading */
  }